<div class="container">
    <div class="wrapper">
        <div class="sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="content-container">
            <div class="header-bar">
                <div class="content">
                    <div class="user">
                        <span><i class="fa-regular fa-user fa-lg"></i></span>
                        <span>{{username}}</span>
                    </div>
                    <span class="logout" (click)="logout()"><i class="fa-solid fa-right-from-bracket fa-lg"
                            style="color: #bc1a1a;"></i></span>

                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>