<nav class="menu-container">
    <div class="nav-container">
        <div class="logo">
            <img src="../../../../assets/images/logo.png" alt="logo">
            <h3 class="logo-text">TaskMagnet</h3>
        </div>

        <div class="menu">
            <ul>
                <li>
                    <select [(ngModel)]="selectedLanguage" (change)="onLanguageChange()">
                        <option value="en" autofocus>{{'languages.lbl-en' | translate}}</option>
                        <option value="bos">{{'languages.lbl-bos' | translate}}</option>
                    </select>
                </li>
                <li>
                    <a>{{'lbl-pricing' | translate}}</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a routerLink="login">{{'lbl-login' | translate}}</a>
                </li>
                <li>
                    <a routerLink="register">{{'lbl-register' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>