.menu-container {
  padding: 15px 0; /* Add padding for better spacing */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Style the navigation container */
.nav-container {
  display: flex; /* Make the navigation items inline */
  justify-content: space-between; /* Space between logo and menu items */
  align-items: center; /* Vertically center items */
  padding: 0 20px; /* Add horizontal padding */
}

.logo {
  display: flex;
  align-items: center;
}

/* Style the logo */
.logo img {
  width: 35px; /* Set a max width for the logo */
  height: auto; /* Maintain the aspect ratio */
}

/* Style the logo text */
.logo-text {
  font-family: "Avenir", sans-serif;
  letter-spacing: -1px;
  font-size: 22px; /* Adjust the font size as needed */
}

/* Style the menu */
.menu ul {
  list-style: none; /* Remove default list styles */
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.menu ul li {
  display: inline-block; /* Make menu items inline */
  margin-right: 20px; /* Add spacing between menu items */
}

/* Style the language select */
.menu select {
  color: #232115; /* Text color */
  cursor: pointer; /* Add a pointer cursor on hover */
}

/* Style the links */
.menu a {
  text-decoration: none; /* Remove underlines from links */
  color: #232115; /* Text color */
  font-size: 15.5px;
  font-weight: 400;
  cursor: pointer;
}

/* Style the links on hover */
.menu a:hover {
  color: #db4527;
}

.divider {
  border-left: 1px solid #ccc;
  height: 20px;
}
