<div class="footer-wrapper">
    <div class="footer-container">
        <div class="logo">
            <img src="../../../../assets/images/svg/logo-white.svg" alt="Logo">
        </div>
        <div class="info-wrapper">
            <div class="info">
                <p class="title">{{'home-page.lbl-subtitle' | translate}}</p>
            </div>
            <div class="contact-wrapper">
                <div class="links-wrapper">
                    <div class="links">
                        <p class="link" [routerLink]="['/']" [routerLinkActiveOptions]="{exact:true}"
                            routerLinkActive="active">
                            Home</p>
                        <p class="link" [routerLink]="['/about-us']" [routerLinkActiveOptions]="{exact:true}"
                            routerLinkActive="active">
                            About</p>
                        <p class="link" [routerLink]="['/contact-us']" [routerLinkActiveOptions]="{exact:true}"
                            routerLinkActive="active">Contact</p>
                        <p class="link" [routerLink]="['/pricing']" [routerLinkActiveOptions]="{exact:true}"
                            routerLinkActive="active">Pricing</p>
                        <p class="link" [routerLink]="['/login']" [routerLinkActiveOptions]="{exact:true}"
                            routerLinkActive="active">Log in</p>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact-info">
                        <a href="mailto:oscarmikeyt@gmail.com">
                            <img src="../../../../assets/images/svg/mail.svg" alt="Mail">
                        </a>
                        <a href="">
                            <img src="../../../../assets/images/svg/facebook.svg" alt="Facebook">
                        </a>
                        <a href="https://github.com/ahmedhalac">
                            <img src="../../../../assets/images/svg/github.svg" alt="Github">
                        </a>
                        <a href="">
                            <img src="../../../../assets/images/svg/youtube.svg" alt="YouTube">
                        </a>
                    </div>
                    <div class="copyright">
                        <p>© 2023, All Rights Reserved</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>