@import "../../scss/colors.scss";
@import "../../scss/mixins.scss";

.footer-wrapper {
  background: $secondary-black;
  .footer-container {
    padding: 48px 16px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-direction: column;
    color: $primary-white;

    @include media(">=tablet") {
      padding: 64px 24px;
    }

    @include media(">=desktop") {
      padding: 96px 64px;
      flex-direction: row;
    }

    .logo {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid $primary-white;

      img {
        width: 165px;
        height: 165px;
      }

      @include media(">=desktop") {
        border-bottom: 0;
        padding: 0 64px 0 0;
        border-right: 1px solid $primary-white;
      }
    }

    .info-wrapper {
      display: flex;
      flex-direction: column;

      @include media(">=tablet") {
        gap: 16px;
      }

      @include media(">=desktop") {
        margin-left: 32px;
        gap: 32px;
      }

      .info {
        @include media(">=tablet") {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          gap: 32px;
        }

        .title {
          font-size: 25px;
          font-style: normal;
          font-weight: 700;
          letter-spacing: -0.8px;
          padding-bottom: 24px;
          margin: 0;

          @include media(">=tablet") {
            font-size: 35px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: -0.96px;
            padding-bottom: 0;
          }
        }
      }

      .contact-wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include media(">=tablet") {
          justify-content: space-between;
        }

        .links-wrapper {
          display: flex;
          flex-direction: column;
          gap: 32px;

          @include media(">=tablet") {
            gap: 0;
            justify-content: space-between;
          }

          .links {
            flex-direction: row;
            display: flex;
            gap: 20px;

            @include media("<desktop") {
              display: none;
            }

            p {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              margin: 0;
              cursor: pointer;
              transition: color 300ms ease-out;
            }

            p:hover {
              color: $primary-red;
            }
          }
        }

        .contact-container {
          display: flex;
          flex-direction: column;
          gap: 32px;

          @include media(">=tablet") {
            gap: 16px;
          }

          a {
            text-decoration: none;
            padding-left: 5px;
          }

          p:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
          }

          .contact-info {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;

            @include media(">=tablet") {
              flex-direction: row;
            }

            a > img {
              width: 30px;
              height: 30px;
            }
          }

          .contact-info,
          .copyright {
            p {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              margin: 0;
            }
          }

          .copyright {
            p {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
