<app-navbar [shouldHideMenuItems]="true"></app-navbar>
<div class="wrapper">
    <div class="contact-form-section">
        <div class="content">
            <p class="title">Log in</p>
            <p class="supporting-text">Please log in to continue using our app.
            </p>
        </div>
        <div class="form-wrapper">
            <div class="form">
                <form [formGroup]="loginForm" (submit)="onSubmit()">
                    <div class="row">
                        <div class="mr-24">
                            <p>Username</p>
                            <input type="text" id="username" name="username" formControlName="username" required
                                placeholder="Enter your username...">
                        </div>
                        <div class="mr-24">
                            <p>Password</p>
                            <input type="password" id="password" name="password" formControlName="password" required
                                placeholder="Enter your password...">
                        </div>
                    </div>
                    <div class="row">
                        <p class="text">Don’t have an account? <a routerLink="/register">Register</a></p>
                        <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
                        <button type="submit" class="primary">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>