<div class="container" [ngClass]="{'collapsed': isCollapsed}">
    <div *ngIf="!isCollapsed" class="content">
        <div class="users-section">
            <div class="user">
                <span><i class="fa-regular fa-user"></i></span>
                <span>{{username}}</span>
            </div>
        </div>
        <div class="add-task">Add Task</div>
        <div class="plans"><a routerLink="./today">Today</a></div>
        <div class="plans"><a routerLink="./upcoming">Upcoming</a></div>
    </div>
    <div class="toggle-section">
        <span (click)="toggleCollapse()"><i class="fa-solid fa-minimize"></i></span>
    </div>
</div>