@import "../../../shared/scss/colors.scss";
@import "../../../shared/scss/mixins.scss";

.container {
  width: 300px;
  height: 100dvh;
  background-color: $primary-sidebar;
  transition: width 0.3s ease;
  padding: 20px;

  &.collapsed {
    width: 50px;
    transition: width 0.3s ease;
    background-color: $primary-white;
    padding-left: 0;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo {
      width: 130px;
      height: 48px;
      cursor: pointer;

      @include media(">=tablet") {
        height: 55px;
      }
    }

    .toggle-section {
      cursor: pointer;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;

    div {
      padding: 10px;
      a {
        text-decoration: none;
        color: $secondary-black;
        font-size: 16px;

        &.active-link {
          color: $primary-red;
        }
      }

      i {
        padding-right: 10px;
      }

      &.active-link {
        background-color: $lighter-red;
        border-radius: 5px;
      }
    }

    div:not(.active-link):hover {
      background-color: #f0e8e6;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
