@import "../../../shared/scss/colors.scss";
@import "../../../shared/scss/mixins.scss";

.container {
  width: 300px;
  height: 100dvh;
  background-color: $primary-sidebar;
  transition: width 0.3s ease;
  padding: 20px;

  &.collapsed {
    width: 50px;
    transition: width 0.3s ease;
    background-color: $primary-white;
    padding-left: 0;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo {
      width: 130px;
      height: 48px;
      cursor: pointer;

      @include media(">=tablet") {
        height: 55px;
      }
    }

    .toggle-section {
      span {
        cursor: pointer;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    div {
      padding: 10px;
    }
  }
}
